<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Destinations Slider</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body>
    <div class="container">
        <div class="slide">
            <div class="item" style="background-image: url(/images/Hyderabad_1080p_Wallpapers_15.jpg);">
                <div class="content">
                    <div class="name"style="color:black" >Hyderabad</div>
                    <div class="des" style="color:black">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                    <button class="see-more" data-city="Hyderabad">See More</button>
                </div>
            </div>
            <div class="item" style="background-image: url(/images/building-decorated-indian-republic-day.jpg);">
                <div class="content">
                    <div class="name">Delhi</div>
                    <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                    <button class="see-more" data-city="Delhi">See More</button>
                </div>
            </div>
            <div class="item" style="background-image: url(/images/julius-jansson-eTqxF-2UAsg-unsplash.jpg);">
                <div class="content">
                    <div class="name"  style="color:black">Banglore</div>
                    <div class="des"  style="color:black">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                    <button  style="color:black" class="see-more" data-city="Bangalore">See More</button>
                </div>
            </div>
            <div class="item" style="background-image: url(/images/500pxRF_26117913.jpg);">
                <div class="content">
                    <div class="name" style="color:black">Lucknow</div>
                    <div class="des" >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                    <button class="see-more" data-city="Lucknow">See More</button>
                </div>
            </div>
            <div class="item" style="background-image: url(/images/drone-master-B3ynlMGy9HI-unsplash.jpg);">
                <div class="content">
                    <div class="name" style="color:black">Bombay</div>
                    <div class="des"  style="color:black">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                    <button  style="color:black" class="see-more" data-city="Bombay">See More</button>
                </div>
            </div>
            <div class="item" style="background-image: url(/images/dicson-j2X9B8NSVWU-unsplash.jpg);">
                <div class="content">
                    <div class="name">Chennai</div>
                    <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                    <button class="see-more" data-city="Chennai">See More</button>
                </div>
            </div>
        </div>

        <div class="button">
            <button class="prev"><i class="fa-solid fa-arrow-left"></i></button>
            <button class="next"><i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>

    <script src="scripts/home.js"></script>
</body>
</html>  